<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Versement</title>
</head>
<body>
<div>
    <form action="#" th:action="@{/versement/add}" th:object="${unVersement}" method="post">
        <pre>
            Date                : <input type="text" th:field="*{date}">
            Montant             : <input type="text" th:field="*{montant}">



            <button type="submit">Ajouter</button>
        </pre>
        <span th:text="${msg}"></span>

    </form>
</div>

</body>
</html>